.negrito{
    font-weight: 700;
}


#menu{
    display: flex;
    flex-direction: row;/*elementos ficam na vertical*/
    gap: 12px;/* espaço entre os elementos filhos*/

    flex-wrap: wrap;/*permite a quebra de linha*/

}